<% content_for :title do %>
<%= @movie.pretty_title %>
<% end %>
<div>
	<div style="float:right;width:200px" class="text-comment">
		<div id="slideshow" onclick="javascript: change_poster();">
			<% 0.upto(@poster_files.size) do |index| %>
			<%= image_tag poster_url(@movie,index), :size=>"200x300", :alt=>@movie.title, :class=>"poster #{(@poster_index==index)? 'active': ''}" %>
			<% end %>
		</div>
		Change the poster by clicking on it
	</div>
	<%= form_for(@movie, :method=>:put, :id=>"edit_movie") do |f| %>
	<%= hidden_field_tag("source_form", 2) %>
	<%= hidden_field_tag("poster_index", @poster_index) %>
	<p>
		<div style="width:8em;display:inline-block">
			<%= f.label :title %>:
		</div>
		<%= f.text_field :title, :class => "form-input" %>
	</p>
	<p>
		<div style="width:8em;display:inline-block">
			<%= f.label :year, "Production Year" %>:
		</div>
		<%= f.number_field(:year, :in=>Movie.range(:year), :class => "form-input") %>
	</p>
	<p>
		<div style="width:8em;display:inline-block">
			<%= f.label :rank %>:
		</div>
		<%= f.number_field(:rank, :in=>0..10, :class => "form-input") %> / 10
	</p>
	<p>
		<div style="width:8em;display:inline-block">
			<%= f.label :seen %>:
		</div>
		<%= f.number_field(:seen, :in=>0..9999, :class => "form-input") %> time(s)
	</p>
	<p>
		<div style="width:8em;display:inline-block">
			Online:
		</div>
		<a href="file://<%= File.join(@movie.location.path,@movie.folder_name) %>"> <%= image_tag( @movie.online ? "img05.png" : "img06.png", :width => 16, :height => 16, :alt => @movie.online?.to_s)%> </a>
	</p>
	<p align="center">
		<%= f.submit "Save", :class=>  "form-button" %>
	</p>
	<% end %>
</div>
<h3>Tags</h3>
<%= form_for([@movie, @new_tag], :method=>:post) do |f| %>
<div>
	<%= f.text_field :value, :style=>"width:30em;", :class => "form-input" %>
	<%= f.submit "Add", :class=>  "form-button"  %>
</div>
<div class="text-comment">
	Separate tags with commas
</div>
<% end %>
<div id='tags'>
	<%= render @movie.tags %>
</div>
<br class="clearfix"/>
<br class="clearfix"/>
<br class="clearfix"/>
