<% content_for :title do %>
list of locations
<% end %>
<div id="content-margin">
	<div>
		<%= form_for(@location, :url => { :action => "create", :method => "post"}, :html => {}) do |f| %>
		<%= f.text_field(:path, :class => "form-text location-text") %>
		<%= f.submit("Add", :class => "form-button right-button fixed-size-button")  %>
		<% end %>
	</div>
	<br class="clearfix" />
	<ul>
		<% @locations.each do |location| %>
		<li>
			<div class="number_movies">
				(<%= "%03d" %location.movies.size  %>)
			</div>
			<%= content_tag(:div, location.path, :class =>  location.reachable? ? "online_location" : "offline_location") %>
			<%= button_to("Delete", location_path(location), :form_class => "right-button", :confirm => "Are you sure?", :method => :delete, :class => "form-button right-button fixed-size-button") %>
			<%= button_to("Scan", scan_location_path(location), :form_class => "right-button", :method => :get, :class => "form-button right-button") %>
		</li>
		<% end %>
	</ul>
</div>