<!DOCTYPE html>
<html>
	<head>
		<title>The Movies Library</title>
		<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css" />
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="wrapper">
			<header id="header">
				<div id="logo">
					<h1><a href="#">The Movies Library</a></h1>
				</div>
				<div id="search">
					<%= form_tag("/", :method=> :get) do %>
					<div>
						<%= text_field_tag(:q, nil, :class => "form-text", :size => 32, :maxlength => 32) %>
						<%= submit_tag("Search", :class => "form-button") %>
					</div>
					<% end %>
				</div>
				<nav id="menu">
					<ul>
						<li class="first current_page_item">
							<%= link_to "Homepage", movies_path %>
						</li>
						<li>
							<%= link_to "Locations", locations_path %>
						</li>
						<li>
							<%= link_to "Administration", admin_index_path  %>
						</li>
					</ul>
					<br class="clearfix" />
				</nav>
			</header>
			<div id="page">
				<div id="content">
					<h2><%= yield :title %></h2>
					<%= render 'shared/flash-messages' if !flash.empty? %>
					<%= yield %>
				</div>
				<aside id="sidebar">
					<h3>Scan Locations</h3>
					<p>
						Update
					</p>
					<h3>Nunc aliquam</h3>
					<ul class="list">
						<li class="first">
							<a href="#">Nibh porta et hendrerit</a>
						</li>
						<li>
							<a href="#">Auctor egestas odio viverra</a>
						</li>
						<li>
							<a href="#">Dignissim est eget lorem</a>
						</li>
						<li>
							<a href="#">Nascetur cras suspendisse</a>
						</li>
						<li>
							<a href="#">Pharetra lacus nunc suscipit</a>
						</li>
						<li class="last">
							<a href="#">Volutpat amet interdum</a>
						</li>
					</ul>
				</aside>
				<br class="clearfix" />
			</div>
		</div>
		<footer id="footer">
			Copyright &copy; <%= Time.new.year %> Imad MANAA, All rights reserved.
		</footer>
	</body>
</html>